* {
  margin: 0;
  padding: 0;
  font-family: cursive, sans-serif;
  scroll-behavior: smooth;
  color: rgb(66, 11, 66);
}

.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo img {
  width: 60%;
  margin: 5px;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  background-color: bisque;
}

.navbarList {
  width: 70%;
  display: flex;
  align-items: center;
}

.navbarList li {
  list-style: none;
  padding: 25px 25px;
}

.navbarList li a {
  text-decoration: none;
  color: rgb(66, 11, 66);
  font-size: 18px;
}

.navbarList li a:hover {
  color: rgb(163, 82, 6);
  transition: 0.4s;
}

.search {
  width: 30%;
  text-align: right;
  padding: 0px 20px;
}

#searchbar {
  padding: 5px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 9px;
}

.searchbtn {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid rgb(66, 11, 66);
  border-radius: 8px;
  background: none;
  color: rgb(66, 11, 66);
  cursor: pointer;
  font-weight: bold;
}

.searchbtn:hover {
  border: 2px solid rgb(163, 82, 6);
  color: rgb(163, 82, 6);
  transition: 0.5s;
}

.burger {
  display: none;
  cursor: pointer;
  top: 10%;
  right: 5%;
  position: absolute;
}

.line {
  width: 33px;
  background-color: rgb(66, 11, 66);
  height: 4px;
  margin: 5px 3px;
}

.firstSection {
  background-color: #f6f5f4;
  height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondHalf {
  width: 50%;
}

.secondHalf img {
  max-width: 70%;
  border: 3px solid white;
  border-radius: 80px;
  display: block;
  margin: auto;
}

.homeHeading {
  font-size: 25px;
}

.homePara {
  font-size: 16px;
}

.buttons {
  padding: 8px 12px;
  margin: 7px 3px;
  border: 2px solid rgb(66, 11, 66);
  border-radius: 8px;
  background: none;
  color: rgb(66, 11, 66);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.buttons:hover {
  border: 2px solid black;
  border-color: rgb(163, 82, 6);
  color: rgb(163, 82, 6);
  transition: 0.5s;
}

.secondSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  

  background-color: #f6f5f4;
}

.secondHeading {
  font-size: 25px;
}

.secondPara {
  font-size: 16px;

  padding-right: 50px;
}

.secondImg {
  max-width: 60%;
  margin-left: 90px;
  border: 2px solid black;
  border-radius: 80px;
  margin-top: 10px;
}

.thirdSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  background-color: #f6f5f4;
}

.thirdHeading {
  font-size: 25px;
  margin-left: 80px;
}

.thirdPara {
  font-size: 16px;
  padding-left: 80px;
}

.servicesImg {
  max-width: 60%;
  margin-left: 60px;
  border: 2px solid black;
  border-radius: 80px;
  margin-top: 19px;
}

.contact {
  background-color: #f6f5f4;
  height: 833px;
}

.contactUs {
  text-align: center;
  padding-top: 150px;
  font-size: 35px;
  color: rgb(66, 11, 66);
}

.form {
  max-width: 62%;
  margin: 25px auto;
}

.formName {
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
}

.formPhone {
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
}

.formEmail {
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
}

.formInput {
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%;
  font-size: 19px;
  border: 2px solid grey;
  border-radius: 6px;
}

.formButton {
  padding: 8px 12px;
  margin: 7px 3px;
  border: 2px solid rgb(66, 11, 66);
  border-radius: 8px;
  background: none;
  color: rgb(66, 11, 66);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 45%;
}

.formButton:hover {
  border: 2px solid rgb(163, 82, 6);
  color: rgb(163, 82, 6);
  transition: 0.5s;
}

.footerPara {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}




/* for responsiveness */

@media only screen and (max-width: 1140px) {
  .navbarList {
    flex-direction: column;
  }

  .navbar {
    height: 447px;
    flex-direction: column;
    transition: 0.8s;
  }

  .search {
    text-align: center;
  }

  .home {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  #searchbar {
    width: 100%;
  }

  .burger {
    display: block;
  }

  .firstSection {
    flex-direction: column-reverse;
  }

  .secondSection {
    flex-direction: column-reverse;
    max-width: 100%;
    height: 350px;
  }

  .thirdSection {
    flex-direction: column-reverse;
  }

  .homeHeading {
    text-align: center;
    margin-top: 10%;
  }

  .homePara {
    text-align: center;
    padding: 0%;
    margin-top: 2%;
  }
  .secondHeading {
    text-align: center;
   margin-bottom: 2%;
  }
  .secondPara {
    text-align: center;
    padding: 2%;
    
  }
  .thirdHeading {
    text-align: center;
  }
  .thirdPara {
    text-align: center;
    padding: 0%;
  }

  .buttons {
    text-align: center;
   margin-left: 25%;
   margin-top: 5%;
  }

  .servicesImg {
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 40px auto;
    max-width: 40%;
  }

  .secondImg {
    display: flex;
    align-items: center;
    justify-content: center;
   margin: auto;
   width: 40%;
  }

  .secondHalf img {
    align-items: center;
  }

  .toggleList{

    background-color: rgb(241, 187, 241);
    height: 550px;
    text-align: center;
    justify-content: center;

}



}

