*{
    margin: 0;
    padding: 0;
    font-family: cursive, sans-serif;
}

.backgroundImg{
    width: 100%;
    height : 70%;
    position: absolute;
    background-size: cover;
    
}

.logo {
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 

.logo img{
    width: 60%;
    margin: 5px;
    position: relative;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    position: relative;
}

.navbarList{
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
}

.navbarList li{
    list-style: none;
    padding: 25px 25px;

}

.navbarList li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbarList li a:hover {
        
        color: black;
        transition: 0.4s;
 
} 


.search {
    width: 30%;
    text-align: right;
    padding: 0px 20px;
    position: relative;

}

#searchbar{

    padding: 5px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 9px;
}

.searchbtn{
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.searchbtn:hover{
        border: 2px solid black;
        color: black;
        transition: 0.5s;
    

} 

.burger{
    display: none;
    cursor: pointer;
    left: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
    position: relative;
}

.firstSection{
    position: relative;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    margin:auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 50%;
}

.secondHalf img{
    width: 70%;
    border: 3px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.homeHeading{
    font-size:25px;

}

.homePara{
    font-size: 16px;
}

.buttons{
    padding: 8px 12px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;


}

.buttons:hover {
    border: 2px solid black;
    color: black;
    transition: 0.5s;
}





